// Border
$border: 2px solid #424242;
$borderFocus: 3px solid #424242;
$borderRadius: 10px;

// Spacing
$padding: 40px;
$marginBottom: 20px;

// Sizing
$boxWidth: clamp(300px, 50%,500px);

// Colors
$pageColor: #89cbe8;
$boxColor: #ffe48f;